*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Estilos para el nabvar*/
nav{
    line-height: 80px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav__logo{    
    width: 200px;
    height: 80px;
}
.imagen{
    width: 200px;
    object-fit: contain;
}
ul{
    display: flex;
    align-items: center;
}
li{    
    text-align: center;
    padding: 2px 5px;
    height: 40px;
    width: 100px;
    margin-right: 20px;  
    line-height: 40px;
    font-weight: bolder;
    transition: all 0.3s;
}

 li:hover{     
    border-bottom: 3px solid #000;
    cursor: pointer;
    background-color: rgb(190, 190, 190);
    border-radius: 10px;
}

a{  
    
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    
}

/* Estilos para el slider*/
.container{
    width: 100%;
    overflow: hidden; 
    position: relative; 

}


.container__slider{
    display: flex;
    width: 400%;
    height:80vh;
    margin-left: -100%;
   
}

.slider__section{
    width: 100%;
}

.slider__section-img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: top;
}

.slider__btn  {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    cursor: pointer;
    
}

.slider__btn-right{
    right: 20px;
}

.slider__btn-left{
    left: 20px;
}

/*estilo formulario*/

.formulario{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
form{    
    width: 300px;
    text-align: center;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
        padding: 20px;
        font-weight: bold;
}

.titulo{
    margin-bottom:20px;    
    
}

 form label{
   float: left ;
   margin-bottom: 10px;
}

 form input{
    width: 170px;
    float:right;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 2px 0;
   
} 

.textarea{
    width: 100%;
    height: 70px;
}

.boton{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5px;
    padding: 5px 0px;
    margin-top: 10px;
    transition: all 0.3s;
    font-weight: bold;
}
.boton:hover{
    
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
}

/* Estilos de la sección de card sobre peiculas*/
.card{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #6190E8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card__contenedor{
    width: 280px;
    min-width: 280px;
    padding: 20px;
    background-color: #eee;
    margin: 20px;
    border-radius: 10px;
    transition: all 0.3s;
}

.card__contenedor:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px #2C3E50;
}

.card__img{
    width: 100%;
    text-align: center;
    transition: all 0.3s;
    overflow: hidden;
    border-radius: 10px;

}

.card__img > img{
width: 100%;
  transition: all 0.3s;
}

.card__img > img:hover{
    transform: scale(1.05)
}

.card_descripcion > span{
 margin-top:5px; 
 float: left;
}

.popup{
    display: flex;
    justify-content: center;
    align-items: center ;
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.5);
    

}

.popup__contenedor{
    background-color: rgb(124, 10, 10);
    width: 80%;
   padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.popup__img{
    text-align: center;
}
.popup__descripcion > span{
    display:block;
}
.popup__info{
width: 50%;


}

.popup__sinopsis{
width: 50%;
}